.link{
    text-decoration: none;
    color: #fff;
    transition: all 0.4s ease-in-out;
}

.link:hover{
    color: #35FF1F;
    text-decoration: underline;
}

.headerMain{
    position: sticky;
    top: 0;
    background: rgba( 255, 255, 255, 0.15 );
    backdrop-filter: blur( 4px );
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    -webkit-backdrop-filter: blur( 4px );
    
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}